serverless.yml
service: pardo-pedidos-system

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  memorySize: 1024
  timeout: 29
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    STAGE: ${self:provider.stage}
    REGION: ${self:provider.region}
    TABLA_PRODUCTOS: ${self:custom.tablas.productos}
    TABLA_PEDIDOS: ${self:custom.tablas.pedidos}
    TABLA_INVENTARIO: ${self:custom.tablas.inventario}
    TABLA_LOGS: ${self:custom.tablas.logs}
    TABLA_CLIENTES: ${self:custom.tablas.clientes}
    TABLA_STAFF: ${self:custom.tablas.staff}
    TABLA_INVITATION_CODES: ${self:custom.tablas.invitationCodes}
    TABLA_ESTADOS: ${self:custom.tablas.estados}
    TABLA_KPIS: ${self:custom.tablas.kpis}
    SQS_PEDIDOS_URL: ${self:custom.sqsQueueUrl}
    SNS_NOTIFICACIONES_ARN: ${self:custom.snsTopicArn}
    STEP_FUNCTIONS_ARN: ${self:custom.stepFunctionsArn}
    JWT_SECRET: ${env:JWT_SECRET, 'utec'}
  iam:
    role: arn:aws:iam::079902990209:role/LabRole

custom:
  tablas:
    productos: TablaProductos-${self:provider.stage}
    pedidos: TablaPedidos-${self:provider.stage}
    inventario: TablaInventario-${self:provider.stage}
    logs: TablaLogs-${self:provider.stage}
    clientes: ${self:provider.stage}-t_clientes
    staff: ${self:provider.stage}-t_staff
    invitationCodes: ${self:provider.stage}-t_invitation_codes
    estados: ${self:provider.stage}-t_estados
    kpis: ${self:provider.stage}-t_kpis
  snsTopicName: pardo-notificaciones-${self:provider.stage}
  sqsQueueName: cola-pedidos-${self:provider.stage}
  stepFunctionsName: FlujoProcesarPedido-${self:provider.stage}
  snsTopicArn:
    Fn::Join:
      - ''
      - - 'arn:aws:sns:'
        - ${self:provider.region}
        - ':'
        - ${aws:accountId}
        - ':'
        - ${self:custom.snsTopicName}
  sqsQueueUrl:
    Fn::Join:
      - ''
      - - 'https://sqs.'
        - ${self:provider.region}
        - '.amazonaws.com/'
        - ${aws:accountId}
        - '/'
        - ${self:custom.sqsQueueName}
  stepFunctionsArn:
    Fn::Join:
      - ''
      - - 'arn:aws:states:'
        - ${self:provider.region}
        - ':'
        - ${aws:accountId}
        - ':stateMachine:'
        - ${self:custom.stepFunctionsName}

functions:
  # AUTH FUNCTIONS
  crearUsuario:
    handler: handlers/auth/crearUsuario.handler
    events:
      - http:
          path: auth/registro
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

  loginUsuario:
    handler: handlers/auth/loginUsuario.handler
    events:
      - http:
          path: auth/login
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

  logoutUsuario:
    handler: handlers/auth/logoutUsuario.handler
    events:
      - http:
          path: auth/logout
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - X-Tenant-Id
              - x-tenant-id
            allowCredentials: false
      - http:
          path: auth/logout
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - X-Tenant-Id
              - x-tenant-id
            allowCredentials: false

  generarInvitationCode:
    handler: handlers/auth/generarInvitationCode.handler
    events:
      - http:
          path: auth/generate-invitation
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

  # PRODUCTOS
  obtenerProductos:
    handler: handlers/productos/obtenerProductos.handler
    events:
      - http:
          path: producto/obtener
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  obtenerProducto:
    handler: handlers/productos/obtenerProducto.handler
    events:
      - http:
          path: producto/{producto_id}
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  crearProducto:
    handler: handlers/productos/crearProducto.handler
    events:
      - http:
          path: producto
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  actualizarProducto:
    handler: handlers/productos/actualizarProducto.handler
    events:
      - http:
          path: producto/{producto_id}
          method: put
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  eliminarProducto:
    handler: handlers/productos/eliminarProducto.handler
    events:
      - http:
          path: producto/{producto_id}
          method: delete
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  crearPedido:
    handler: handlers/pedidos/crearPedido.handler
    events:
      - http:
          path: pedido/crear
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  procesarEventosPedido:
    handler: handlers/pedidos/procesarEventoPedido.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - ColaPedidos
              - Arn

  actualizarPedido:
    handler: handlers/pedidos/actualizarPedido.handler
    events:
      - http:
          path: pedido/{pedido_id}
          method: put
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  consultarPedido:
    handler: handlers/pedidos/consultarPedido.handler
    events:
      - http:
          path: pedido/consultar
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  misAsignaciones:
    handler: handlers/pedidos/misAsignaciones.handler
    events:
      - http:
          path: pedido/mis-asignaciones
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false
      - http:
          path: pedido/mis-asignaciones
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false

  consultarInventario:
    handler: handlers/inventario/consultarInventario.handler
    events:
      - http:
          path: inventario/consultar
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  ajustarInventario:
    handler: handlers/inventario/ajustarInventario.handler
    events:
      - http:
          path: inventario/ajustar
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - x-tenant-id
              - x-user-id
              - x-user-role
            allowCredentials: false

  actualizarInventario:
    handler: handlers/inventario/actualizarInventario.handler
    events:
      - eventBridge:
          pattern:
            source:
              - pedidos.microservicio
            detail-type:
              - Pedido Creado

  chefConfirma:
    handler: handlers/workflow/chefConfirma.handler
    events:
      - http:
          path: chef/confirma
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
            allowCredentials: false
      - http:
          path: chef/confirma
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  pedidoDespachado:
    handler: handlers/workflow/pedidoDespachado.handler
    events:
      - http:
          path: despachado/confirma
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
            allowCredentials: false
      - http:
          path: despachado/confirma
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  recogidaDelivery:
    handler: handlers/workflow/recogidaDelivery.handler
    events:
      - eventBridge:
          pattern:
            source:
              - stepfunctions.workflow
            detail-type:
              - Recogida Delivery

  pedidoRecogido:
    handler: handlers/workflow/pedidoRecogido.handler
    events:
      - http:
          path: motorizado/confirma
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
            allowCredentials: false
      - http:
          path: motorizado/confirma
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  clienteRecibeComida:
    handler: handlers/workflow/clienteRecibeComida.handler
    events:
      - http:
          path: pedido/confirmar-recepcion
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false
      - http:
          path: pedido/confirmar-recepcion
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false
      - eventBridge:
          pattern:
            source:
              - stepfunctions.workflow
            detail-type:
              - Cliente Recibe Comida

  # ASIGNACIONES
  asignarTrabajador:
    handler: handlers/asignaciones/asignarTrabajador.handler
    events:
      - http:
          path: asignaciones/asignar
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false
      - http:
          path: asignaciones/asignar
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  obtenerTrabajador:
    handler: handlers/asignaciones/obtenerTrabajador.handler
    events:
      - http:
          path: asignaciones/obtener
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false
      - http:
          path: asignaciones/obtener
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  # ESTADOS
  actualizarEstado:
    handler: handlers/estados/actualizarEstado.handler
    events:
      - http:
          path: estados/actualizar
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false
      - http:
          path: estados/actualizar
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  obtenerEstado:
    handler: handlers/estados/obtenerEstado.handler
    events:
      - http:
          path: estados/obtener
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  obtenerMetricasTiempos:
    handler: handlers/estados/obtenerMetricasTiempos.handler
    events:
      - http:
          path: estados/metricas-tiempos
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false
      - http:
          path: estados/metricas-tiempos
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false
      - http:
          path: estados/obtener
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
              - x-user-id
              - x-user-role
            allowCredentials: false

  calcularKPIs:
    handler: handlers/kpis/calcularKPIs.handler
    events:
      - schedule:
          rate: rate(5 minutes)
          enabled: true

  consultarKPIs:
    handler: handlers/kpis/consultarKPIs.handler
    events:
      - http:
          path: kpis/consultar
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false
      - http:
          path: kpis/consultar
          method: options
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
              - x-tenant-id
              - X-Tenant-Id
            allowCredentials: false

resources:
  Resources:
    TablaProductos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.productos}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: producto_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: producto_id
            KeyType: RANGE

    TablaPedidos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.pedidos}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: S
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: fecha_inicio
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: user_id-index
            KeySchema:
              - AttributeName: user_id
                KeyType: HASH
              - AttributeName: fecha_inicio
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

    TablaInventario:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.inventario}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: producto_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: producto_id
            KeyType: RANGE

    TablaLogs:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.logs}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: log_id
            AttributeType: S
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: horario
            AttributeType: S
        KeySchema:
          - AttributeName: log_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: user_id-index
            KeySchema:
              - AttributeName: user_id
                KeyType: HASH
              - AttributeName: horario
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    TablaClientes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.clientes}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH

    TablaStaff:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.staff}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id_sede
            AttributeType: S
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id_sede
            KeyType: HASH
          - AttributeName: email
            KeyType: RANGE

    TablaInvitationCodes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.invitationCodes}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: code
            AttributeType: S
        KeySchema:
          - AttributeName: code
            KeyType: HASH
        TimeToLiveSpecification:
          AttributeName: ttl
          Enabled: true

    TablaEstados:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.estados}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pedido_id
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
          - AttributeName: tenant_id
            AttributeType: S
        KeySchema:
          - AttributeName: pedido_id
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: tenant_id-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: timestamp
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    TablaKPIs:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tablas.kpis}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: fecha
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: fecha
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: fecha-index
            KeySchema:
              - AttributeName: fecha
                KeyType: HASH
              - AttributeName: timestamp
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    TopicNotificaciones:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:custom.snsTopicName}

    ColaPedidos:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.sqsQueueName}

    FlujoProcesarPedido:
      Type: AWS::StepFunctions::StateMachine
      DependsOn:
        - ChefConfirmaLambdaFunction
        - PedidoDespachadoLambdaFunction
        - PedidoRecogidoLambdaFunction
        - ClienteRecibeComidaLambdaFunction
      Properties:
        StateMachineName: ${self:custom.stepFunctionsName}
        RoleArn: arn:aws:iam::${aws:accountId}:role/LabRole
        DefinitionString:
          Fn::Sub:
            - |
              {
                "Comment": "Flujo principal para procesar pedidos",
                "StartAt": "PreguntarAlChef",
                "States": {
                  "PreguntarAlChef": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "${ChefConfirmaArn}",
                      "Payload": {
                        "taskToken.$": "$$.Task.Token",
                        "pedido_id.$": "$.pedido_id",
                        "tenant_id.$": "$.tenant_id"
                      }
                    },
                    "Next": "DespachandoComida"
                  },
                  "DespachandoComida": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "${PedidoDespachadoArn}",
                      "Payload": {
                        "taskToken.$": "$$.Task.Token",
                        "pedido_id.$": "$.pedido_id",
                        "tenant_id.$": "$.tenant_id"
                      }
                    },
                    "Next": "RecogidaDelivery"
                  },
                  "RecogidaDelivery": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                      "FunctionName": "${PedidoRecogidoArn}",
                      "Payload": {
                        "taskToken.$": "$$.Task.Token",
                        "pedido_id.$": "$.pedido_id",
                        "tenant_id.$": "$.tenant_id"
                      }
                    },
                    "Next": "ClienteRecibeComida"
                  },
                  "ClienteRecibeComida": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${ClienteRecibeComidaArn}",
                      "Payload": {
                        "pedido_id.$": "$.pedido_id",
                        "tenant_id.$": "$.tenant_id"
                      }
                    },
                    "End": true
                  }
                }
              }
            - ChefConfirmaArn:
                Fn::GetAtt:
                  - ChefConfirmaLambdaFunction
                  - Arn
              PedidoDespachadoArn:
                Fn::GetAtt:
                  - PedidoDespachadoLambdaFunction
                  - Arn
              PedidoRecogidoArn:
                Fn::GetAtt:
                  - PedidoRecogidoLambdaFunction
                  - Arn
              ClienteRecibeComidaArn:
                Fn::GetAtt:
                  - ClienteRecibeComidaLambdaFunction
                  - Arn

  Outputs:
    ApiGatewayRestApiId:
      Value:
        Ref: ApiGatewayRestApi
      Export:
        Name: ${self:service}-${self:provider.stage}-ApiGatewayRestApiId
    ApiGatewayRestApiUrl:
      Value:
        Fn::Join:
          - ''
          - - 'https://'
            - Ref: ApiGatewayRestApi
            - '.execute-api.'
            - ${self:provider.region}
            - '.amazonaws.com/'
            - ${self:provider.stage}
      Export:
        Name: ${self:service}-${self:provider.stage}-ApiGatewayRestApiUrl
    TablaProductosArn:
      Value:
        Fn::GetAtt:
          - TablaProductos
          - Arn
      Export:
        Name: ${self:service}-${self:provider.stage}-TablaProductosArn
    TablaPedidosArn:
      Value:
        Fn::GetAtt:
          - TablaPedidos
          - Arn
      Export:
        Name: ${self:service}-${self:provider.stage}-TablaPedidosArn
    TablaInventarioArn:
      Value:
        Fn::GetAtt:
          - TablaInventario
          - Arn
      Export:
        Name: ${self:service}-${self:provider.stage}-TablaInventarioArn
    SnsTopicArn:
      Value:
        Fn::Join:
          - ''
          - - 'arn:aws:sns:'
            - ${self:provider.region}
            - ':'
            - ${aws:accountId}
            - ':'
            - ${self:custom.snsTopicName}
      Export:
        Name: ${self:service}-${self:provider.stage}-SnsTopicArn
    SqsQueueUrl:
      Value: ${self:custom.sqsQueueUrl}
      Export:
        Name: ${self:service}-${self:provider.stage}-SqsQueueUrl
    StepFunctionsArn:
      Value:
        Fn::Join:
          - ''
          - - 'arn:aws:states:'
            - ${self:provider.region}
            - ':'
            - ${aws:accountId}
            - ':stateMachine:'
            - ${self:custom.stepFunctionsName}
      Export:
        Name: ${self:service}-${self:provider.stage}-StepFunctionsArn

